# Yandex Cloud (Основная модель)
YANDEX_CLOUD_API_KEY=your_api_key_here
YANDEX_CLOUD_FOLDER=your_cloud_folder_here

# Опционально, если захотите поменять "мозги" у агента
PROXY_URL=http://username:password@proxy_address:port
GEMINI_API_KEY=your_api_key_here